<!DOCTYPE html>
<html lang="en">

<head>
  <title>TheMorningT</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>
    <%= content_for?(:title) ? yield(:title) : "Untitled" %>
  </title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>

<body>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu">
        <%= image_tag'mbta-secondary-logo-circle.png', style: 'height:30px; width:30px;' %>
        <div className = "logo">
          <li class="menu-text">The Morning T</li>
        </div>
        <li>
          <%= link_to "All Stops", stops_path %>
        </li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <%- if current_user -%>
          <li>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
          </li>
          <%- if current_user[:profile_photo] != nil -%>
            <%= image_tag("/uploads/user/profile_photo/#{current_user.id}/#{current_user.profile_photo.file.file.split("/")[-1]}") %>
          <%- end -%>
        <%- else -%>
          <li>
            <%= link_to 'Sign Up', new_user_registration_path %>
          </li>
          <li>
            <%= link_to 'Sign In', new_user_session_path %>
          </li>
        <%- end -%>
      </ul>
    </div>
  </div>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <div class="grid-x">
    <div class="cell small-1"></div>
    <div class="cell small-8"><%= yield %></div>
  </div>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
    window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>

  <%= javascript_pack_tag 'application' %>
  <%= yield :extra_footer %>
  </body>
</html>
